# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# mypy
.mypy_cache/

# VSCode
.vscode/

# PyCharm
.idea/
